@media (max-width: 760px) {
    .nav {
        background-color: #fff;
        justify-content: center;
        width: 100%;
        &__menu {
            display: none;
        }
    }
    .intro__list {
        grid-template-columns: 1fr 1fr;
    }
    .works__gallery {
        width: 90%;
        margin: 0 auto;
        margin-top: 50px;
        grid-template-columns: 1fr 1fr;
    }
    .skills__list--item{
        width: 50%;
        margin-bottom: 60px;
    }
}
@media (max-width: 1160px) {
    .nav {
        width: 100% !important;
    }
    .container {
        width: 100% !important;
    }
}
@media (max-width: 600px) {
    .banner__container {
        & h3 {
            font-size: 10px;
        }
        & h1 {
            font-size: 20px;
        }
    }
    .intro__list {
        grid-template-columns: 1fr;
    }
    .works__gallery {
        grid-template-columns: 1fr;
    }
    .skills__list {
        &--item {
            margin-bottom: 100px;
            width: 100%;
        }
    }
    .testimonials__slider--item {
        justify-content: center;
        &::before {
            top: 0;
        }
        &::after {
            content: "";
            bottom: 0;
        }
    }
    .testimonials__slider--item-author {
        font-size: 10px;
    }
    .testimonials__slider--item-info {
        font-size: 12px;
    }
}
