.contacts {
    min-height: 600px;
    overflow: hidden;
    text-align: center;
    background-color: #fff;
    &__title {
        font-weight: 900;
        font-size: 30px;
        margin: 0 0 30px;
        letter-spacing: 5px;
        margin-top: 120px;
        margin-bottom: 70px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        &::before {
            content: "";
            width: 10%;
            height: 1px;
            position: absolute;
            background: rgba(135, 135, 135, 0.5);
            margin-top: 100px;
        }
    }
    &__subtitle {
        width: 50%;
        margin: 0 auto;
        font-style: normal;
        font-size: 16px;
        line-height: 30px;
        margin-bottom: 60px;
    }
    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 150px;
        justify-content: center;
        &--field {
            outline: none;
            background: #fff;
            border: 1px solid #d8e1e4;
            font-size: 12px;
            width: 50%;
            margin: 5px;
            font-weight: 500;
            transition: 0.3s;
            color: #555;
            padding: 10px 15px;
            &:focus {
                border-color: rgba(135, 135, 135, 0.7);
            }
        }
        &--btn {
            outline: none;
            margin-top: 20px;
            padding: 10px 30px;
            width: 53%;
            font-size: 13px;
            background: rgba(17, 17, 17, 0.8);
            color: #fff;
            text-transform: uppercase;
            font-weight: 500;
            border: none;
            letter-spacing: 1px;
            border-radius: 4px;
        }
        &--textarea {
            resize: none;
            padding: 10px 15px;
            width: 50%;
            outline: none;
            background: #fff;
            border: 1px solid #d8e1e4;
            font-size: 12px;
            &:focus {
                border-color: rgba(135, 135, 135, 0.7);
            }
        }
    }
}
