.hire {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: top;
    color: #fff;
    flex-direction: column;
    background-image: url(https://scripteden.com/previews/Clean/assets/images/item-3.jpg);
    &__title {
        font-size: 20px;
        letter-spacing: 1px;
        font-weight: bold;
        margin-bottom: 5px;
        text-transform: uppercase;
    }
    &__subtitle {
        padding-top: 30px;
        padding-bottom: 40px;
        font-size: 20px;
        font-weight: 600;
    }
    &__btn {
        background: rgba(255, 255, 255, 0.8);
        color: #111;
        margin-top: 5px;
        margin-bottom: 5px;
        padding: 10px 25px;
        font-size: 13px;
        letter-spacing: 0.5px;
        font-weight: 500;
        border: none;
        text-transform: uppercase;
        border-radius: 3px;
        transition: 0.3s;
        cursor: pointer;
        &:hover {
            background-color: #fff;
        }
    }
    padding: 50px 0;
}
