.intro {
    min-height: 600px;
    overflow: hidden;
    text-align: center;
    &__title {
        font-weight: 900;
        font-size: 30px;
        margin: 0 0 30px;
        letter-spacing: 5px;
        margin-top: 120px;
        margin-bottom: 70px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        &::before {
            content: "";
            width: 10%;
            height: 1px;
            position: absolute;
            background: rgba(135, 135, 135, 0.5);
            margin-top: 100px;
        }
    }
    &__subtitle {
        width: 60%;
        margin: 0 auto;
        font-style: normal;
        font-size: 16px;
        line-height: 30px;
        margin-bottom: 60px;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 2vw;
        width: 95%;
        padding-bottom: 150px;
        margin: 0 auto;
        &--item {
            height: 258px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            background-color: #fff;
            -webkit-box-shadow: 17px 17px 51px -6px rgba(34, 60, 80, 0.35);
            -moz-box-shadow: 17px 17px 51px -6px rgba(34, 60, 80, 0.35);
            box-shadow: 17px 17px 51px -6px rgba(34, 60, 80, 0.35);
            & span {
                font-size: 40px;
                color: #000;
                line-height: 57px;
            }
            & h1 {
                text-transform: uppercase;
                font-size: 15px;
                letter-spacing: 2px;
                font-weight: bold;
                color: #222;
                margin-bottom: 25px;
                text-transform: uppercase;
            }
            p {
                font-size: 14px;
                font-weight: 500;
                line-height: 25px;
                width: 80%;
                color: #666;
                margin: 0 auto;
            }
        }
    }
}
