.skills {
    min-height: 600px;
    overflow: hidden;
    text-align: center;
}
.skills__title {
    font-weight: 900;
    font-size: 30px;
    margin: 0 0 30px;
    letter-spacing: 5px;
    margin-top: 120px;
    margin-bottom: 70px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}
.skills__title::before {
    content: "";
    width: 10%;
    height: 1px;
    position: absolute;
    background: rgba(135, 135, 135, 0.5);
    margin-top: 100px;
}
.skills__subtitle { 
    width: 50%;
    margin: 0 auto;
    font-style: italic;
    font-style: normal;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 60px;
}
.skills__list {
    padding-bottom: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.skills__list--item {
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: column;
    justify-content: center;
}
.skills__list--item canvas {
    transform: rotate(-90deg);
    width: 140px;
    height: 140px;
}
.skills__list--item span {
    position: absolute;
    font-size: 25px;
    color: #666;
    font-weight: 500;
    font-family: "Source Sans Pro", sans-serif !important;
}
.skills__list--item span i {
    font-size: 50%;
}
.skills__list--item h3 {
    top: 115%;
    position: absolute;
    letter-spacing: 1px;
    font-weight: bold;
    color: #222;
    text-transform: uppercase;
}
