.testimonials {
  min-height: 600px;
  overflow: hidden;
  text-align: center;
  &__slider {
  padding-bottom: 300px;
  position: relative;
    & .none{
      transform: scale(0);
    }
    &--item {
      &::before ,&::after{
        position: absolute;
        width: var(--width);
        height: 1px;
        background-color: #ff5252;
        left: 0;
      }
      &::before {
        content: "";
        top: -20px;
      }
      position: absolute;
      transform: scale(1);
      width: 100%;
      display: flex;
      justify-content: space-between;
      text-align: left;
      margin-top: 100px;
      &-info {
        font-size: 1.2vw;
        color: #888;
        font-weight: 300;
        margin: 20px 0 30px;
        font-family: sans-serif !important;
      }
      &-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 70%;
      }
      &-img {
        width: 20%;
        height: 150px;
        background-image: url(https://scripteden.com/previews/Clean/assets/images/client-2.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
      &-author {
        font-size: 1vw;
        line-height: 1.42857143;
        color: #777;
        display: flex;
        align-items: center;
        position: relative;
        &::before {
          left: -15px;
          content: "";
          position: absolute;
          width: 12px;
          height: 1px;
          background-color: #777;
        }
      }
    }
  }
}
.testimonials__title {
  font-weight: 900;
  font-size: 30px;
  margin: 0 0 30px;
  letter-spacing: 5px;
  margin-top: 120px;
  margin-bottom: 70px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}
.testimonials__title::before {
  content: "";
  width: 10%;
  height: 1px;
  position: absolute;
  background: rgba(135, 135, 135, 0.5);
  margin-top: 100px;
}
.testimonials__subtitle {
  width: 50%;
  margin: 0 auto;
  font-style: normal;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 60px;
}
