.works {
    min-height: 600px;
    padding-bottom: 150px;
    overflow: hidden;
    background-color: #fff;
    text-align: center;
    &__title {
        font-weight: 900;
        font-size: 30px;
        margin: 0 0 30px;
        letter-spacing: 5px;
        margin-top: 120px;
        margin-bottom: 70px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        &::before {
            content: "";
            width: 10%;
            height: 1px;
            position: absolute;
            background: rgba(135, 135, 135, 0.5);
            margin-top: 100px;
        }
    }
    &__subtitle {
        width: 60%;
        margin: 0 auto;
        font-style: italic;
        font-style: normal;
        font-size: 16px;
        line-height: 30px;
        margin-bottom: 60px;
    }
    &__gallery {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 2vw;
        &--item {
            cursor: pointer;
            height: 225px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url(https://scripteden.com/previews/Clean/assets/images/item-1.jpg);
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            &:hover h1 {
                top: 35%;
            }
            &:hover p {
                opacity: 1;
                bottom: 35%;
            }
            h1 {
                transition: 0.5s;
                font-size: 20px;
                text-transform: uppercase;
                letter-spacing: 5px;
                position: absolute;
                top: 25%;
                & span {
                    font-weight: 900;
                }
            }
            p {
                position: absolute;
                width: 60%;
                bottom: 25%;
                text-transform: uppercase;
                font-size: 12px;
                transition: 0.5s;
                line-height: 16px;
                letter-spacing: 1px;
                font-weight: 600;
                opacity: 0;
            }
            &:hover::before {
                opacity: 0.6;
            }
            &::before {
                content: "";
                z-index: 0;
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                transition: 0.5s;
                top: 0;
                background: #9e5406;
                opacity: 0.4;
            }

            &:hover &-border {
                transform: scale(1);
            }
            &-border {
                position: absolute;
                transition: 0.5s;
                background-color: #fff;
                transform: scale(0);
            }
            &-border:nth-child(3) {
                width: 80%;
                height: 1px;
                top: 15%;
                left: 10%;
            }
            &-border:nth-child(4) {
                bottom: 15%;
                width: 80%;
                height: 1px;
                left: 10%;
            }
            &-border:nth-child(5) {
                height: 70%;
                top: 15%;
                left: 10%;
                width: 1px;
            }
            &-border:nth-child(6) {
                height: 70%;
                right: 10%;
                top: 15%;
                width: 1px;
            }
        }
    }
}
